<p>Datos del envío:</p>
<p>{{ profile.address.given_name }} {{ profile.address.family_name }}</p>
<p>{{ profile.address.address_line1 }} {{ profile.address.address_line2 }}</p>
<p>{{ profile.address.postal_code }} {{ profile.address.locality }}, {{ profile.address.administrative_area }}</p>
<p>Tlf: {{ profile.field_telefono.value }} </p>
